body {
  background-color:#000;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
  list-style: none; /* Removes list bullets */
  padding: 0;
  margin: 10px;
  display: grid;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  color: #daa520;
  background-color: #daa520;
  padding: 4px;
}

.grid-container > div {
  background-color: #000;
  text-align: center;
  padding: 0px;
  font-size: 20px;
}
    
.main {
  margin-right: 140px; /*Same width as the sidebar + left position in px*/ 
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 4px;
}
